<footer id="page-footer">
  <p>
    Copyright &copy; 2013
    <%= link_to 'Movie App - Pranava S Balugari', 'https://www.facebook.com/pranava.swaroop.9' %>
  </p>
  <p>
    Idea from pragmatic studio and strictly for educational purposes only.
  </p>
</footer>